/* ---- reset ---- */

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  color: #111;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 147%;
}

h1 {
  text-align: center;
  text-shadow: 
    3px 2px 0px #FFEEA5, 
    5px 4px 0px #AA74D3, 
    7px 6px 0px #143ED3,
    9px 8px 0px #EF8F7F,
    11px 10px 0px #AECC39;
}

/* ---- layout ---- */

@media (min-width: 768px) {
  .container {
    max-width: 728px;
    margin: 0 auto;
  }
}
