/* ---- reset ---- */

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  color: #111;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 147%;
}

.title {
  background-color: #161616;
  padding:20px 0 25px;
}

h1 {
  text-align: center;
  margin: 0;
  color: #FFF;
  text-shadow: 
    4px 2px 0px #1e7089,
    6px 4px 0px #4e0589, 
    8px 6px 0px #BC533C,
}

/* ---- Media Queries ---- */

@media (min-width: 768px) {
  .container {
    max-width: 728px;
    margin: 0 auto;
  }
}
